/* reset styles */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
}

html,
body {
    box-sizing: border-box;
    margin: 0 auto;
}

/* styling header */
.logo {
    float: left;
}

#header {
    position: fixed;
    width: 100%;
    background-color: orange;
    min-height: 50px;
    padding-left: 15px;
}

#header-img {
    width: 150px;
}

.nav {
    float: right; 
}

#nav-bar {
    float: right;
    padding: 30px;
}

ul li {
    float: left;
    list-style-type: none;
    margin: 5px;
}

ul li a {
    text-decoration: none;
    text-align: right;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    /* margin-top: 20px; */
    line-height: 15px;
    margin-left: 5px;
}

ul li a:hover {
    background-color: white;
    color: orange;
}

.clear {
    clear: both;
    /* margin: 0px 0px 10px 0px; */
    
}

.hero {
    min-height: 200px;
    text-align: center;
    position: relative;
    top: 150px;
}
form {
    padding: 10px;
}
label {
    font-size: 16px;
    padding: 10px;
}

input[type=email] {
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
} 

input[type=submit] {
    background-color: orange;
    color: white;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: white;
    color: orange;
}

.video {
    position: relative;
    top: 150px;
    text-align: center;
}
/* styling section with product */
.relative {
    position: relative;
    top:150px;
    z-index: -999;
}

.product {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    top: 150px;
    text-align: center;
    display: flex;
}

.elem {
    border: 2px solid orange;
    border-radius: 10px;
    margin: 10px;
    height: auto;
    overflow: auto;
    display: inline-block;
    width: 25%;
    text-align: center;
}

button {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: white;
    color: orange;
    margin: 10px;
}

button:hover {
    background-color: orange;
    color: white;
}

/* styling footer */
footer {
    /* position: relative; */
    top: 300px;
    text-align: center;
    background-color: orange;
    height: 100px;
}
footer a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
